* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  color: #FFF;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.link:hover {
  color: #FFC107;
}

.link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #FFC107;
}


.logo {
  width: 450px;
  height: 150px;
}


@media (max-width: 768px) {
  .logo {
    width: 200px;
    height: 49px;
  }

  .menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu-item {
    margin: 10px 0;
  }
}


