* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #41170a;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 20px;

}

.link {
  color: #FFF;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #FFC107;
}

.logo {
  width: 400px;
  height: 98px;
  margin-right: 10px;
}


@media (max-width: 768px) {
  .logo {
    width: 200px;
    height: 49px;
  }

  .menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu-item {
    margin: 10px 0;
  }
}


