.character-list {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.texto{
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  text-align: center;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  flex-shrink: 0;
  margin: 30px;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
 
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #533122;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-back {
 text-align: center;
  background-color: #533122;
  transform: rotateY(180deg);
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card-back::-webkit-scrollbar {
  width: 8px;
}

.card-back::-webkit-scrollbar-thumb {
  background-color: #888;
}

.card-back p {
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 0px;
  color: white;
}

.card-back img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.card-front h3{
  font-size: 25px;
  color:white;
}


.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 20px;
  color: white;
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
  
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
@media (max-width: 768px) {
  .form {
    width: 100px;
    height: 39px;
  }
}
@media (max-width: 968px) {
  .form {
    width: 100px;
    height: 39px;
  }
}

